* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* Hides horizontal scroll */
}
.logo {
    position: relative;
    top: 43px;
    left: 90px;
}
.nav {
    position: relative;
    margin-top: 40px;
    left: 800px;
    color: white;
    font-size: 17px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    display: inline;
}
li {
    display:inline;
    padding-right: 20px;
}
.background {
    background-image: url('images/Object.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    width: 100%;
}
@font-face {font-family: 'SourceSansPro-Lightlt';
    src: url('fonts/SourceSansPro-Lightlt.otf') ;
}
h1 {
    color: white;
    font-size: 90px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    top: 160px;
}
.nav {
    color: white;
    font-size: 17px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    display: inline;
}
.container1 {
    text-align: center;
}
.span {
    color: white;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-size: 17px;
    margin: 0 10px;
    position: relative;
    top: 180px;
}
.button1 {
    display: block;
    color: white;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    background-color: rgb(151, 88, 211);
    border-radius: 20px;
    font-size: 15px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px 30px; 
}
.section1 {
    color: white;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-size: 20px;
    position: relative;
    top: 150px;
    left: 500px;
}
.em {
    color:rgb(148, 87, 204);
}
.container2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 280px;
    top: 200px;
}
.img3 {
    width: 150px;         /* Make sure it's square */
    height: 150px;
    border-radius: 50%;   /* This turns the square into a circle */
    object-fit: cover; 
    left: 40px;
}
.name {
    color: white;
}
.description {
    color: white;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-size: 15px;
}
.img1 {
    position: relative;
    right: 90px;
    width: 140px;
    height: 140px;
}
.img2 {
   position: relative;
   left: 10px;
   width: 140px;
   height: 140px;
}
.img3 {
    position: relative;
    left: 90px;
    width: 140px;
    height: 140px;
}
.img4 {
    position: relative;
    left: 170px;
    width: 140px;
    height: 140px;
}
.tag1 {
    position: relative;
    right: 90px;
}
.tag3 {
    position: relative;
    left: 90px;
}
.tag4 {
    position: relative;
    left: 170px;
}
.section2 {
    position: relative;
    top: 300px;
    background-color: rgb(192, 134, 247);
    height: 50vh;
}
.redshirtguy {
    position: relative;
    top: 70px;
    left: 250px;
    width: 140px;
    height: 140px;
}
.redshirtguy_reaction {
    color: white;
    font-family:  'SourceSansPro-Lightlt', sans-serif;
    font-size: 20px;;
    position: relative;
    bottom: 60px;
    left: 500px;
}
.person_name {
    position: relative;
    top: 30px;
}
.weather {
    position: relative;
    top: 15px;
}
.section3 {
    position: relative;
    right: 80px;
    top: 440px;
    display: flex;
    flex-direction: row;
}
.most_popular_tutorials {
    position: relative;
    bottom: 90px;
    left: 500px;

    font-family:'SourceSansPro-Lightlt', sans-serif;
}
.popular {
    color:rgb(178, 107, 244);
    font-weight: bold;
}
.section4 {
    position: relative;
    top: 500px;
    background-color: black;
    background-size: 400px;
    display: flex;
    height: 300px;
    flex-direction: row;
}
.section5 {
    position: relative;
    top:590px;
}
.section6 {
    display: flex;
    position: relative;
    top: 900px;
    background-color: black;
    height: 300px;
}
.stars1 {
    display: flex;
    flex-direction: row;
    color:blueviolet;
}
.stars2 {
    display: flex;
    flex-direction: row;
    color:blueviolet;
}
.stars3 {
    display: flex;
    flex-direction: row;
    color:blueviolet;
}
.stars4 {
    display: flex;
    flex-direction: row;
    color:blueviolet
}
.rating {
    display: flex;
    flex-direction: row;
    position: relative;
    top:40px;
}
.min {
    color:blueviolet;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-weight: bold;
    position: relative;
    left: 100px;
}
.phillips_review {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 20px;
}
.phillip {
    position: relative;
    height: 40px;
}
.phil {
    position: relative;
    left:50px;
    top: 10px;
    color:blueviolet;
    font-family:'SourceSansPro-Lightlt', sans-serif;
}
.free_membership {
    color: white;
    position: relative;
    top:30px;
    left: 500px;
    display: inline;
}
.smile {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 30px; 
    position: relative;
    left: 30px;
    gap: 30px;
}
.feature {
    display: flex;
    flex-direction: column;
    color:aliceblue;
    position: relative;
    top: 120px;
}
.purple {
    color: blueviolet;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
}
.lorem_ipsum {
    position: relative;
    top: 20px;
    right: 30px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
}
.lorem {
    position: relative;
    top: 10px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
}
.button2 {
    display: block;
    color: white;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    background-color: rgb(151, 88, 211);
    border-radius: 20px;
    font-size: 15px;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px 30px; 
    position: relative;
    right:500px;
}
.box {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 110px;
    gap: 40px;
}
.description{
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    position: relative;
    top: 6px;
}
.FAQ {
    position: relative;
    top: 50px;
    font-size: 70px;
    left: 500px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
}
.smile_logo {
    position: relative;
    background-color: black;
    top: 150px;
    left: 100px;
}
.copyright {
    color: gray;
    font-family: 'SourceSansPro-Lightlt', sans-serif; 
    position: relative;
    left: 400px;
    
}
.question_row1 {
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-size: 25px;
    position: relative;
    left: 150px;
}
.question_row2 {
    position: relative;
    top:40px;
    left: 150px;
    font-family: 'SourceSansPro-Lightlt', sans-serif;
    font-size: 25px;
}
.question1 {
   font-family:  'SourceSansPro-Lightlt', sans-serif;
   position: relative;
   top: 30px;
}
.question2 {
   font-family:  'SourceSansPro-Lightlt', sans-serif;
   position: relative;
   top: 50px;
}
.social_media {
    position: relative;
    top: 100px;
    left: 950px;
    height: 35px;
    width: 35px;
    background-color: aliceblue;
    border-radius: 20px;
}